<div class="row">
  <div class="col-md-4 border-one">
    <h3>Things</h3>
    <h3>Things2</h3>
    <h3>Things3</h3>
  </div>

  <div class="col-md-8 text-center">
    <h1>Student</h1>
      <% @students.each do |student| %>
        <h3><%= link_to student.name, student %></h3>
      <% end %>
  </div>
</div>
