<div class="row">
  <div class="col-md-6">
    <h2>Basic Membership</h2>
    <ul>
      <li>Create A Yearly Curriculum</li>
      <li>Create Daily Scheduals</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h2>Premium Membership</h2>
      <ul>
        <li>Create A Yearly Curriculum</li>
        <li>Create Daily Scheduals</li>
        <li>Daily Schedual calander output</li>
        <li>Daily Schedual List Output</li>
        <li>Public or Private Book Reports</li>
        <li>Report Cards</li>
        <li>Transcripts</li>
      </ul>
  </div>
</div>
